{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
</style>

<div class="example-wrapper">
    <h1> {{ hello_world }}! ✅</h1>
</div>
{% set myVar = "bonjour tout le monde" %}
<h1>{{ myVar }}</h1>

{% set users = ["tom", "Tim", "Bugs"] %}
    {% for user in users %}
        <h2>{{ user | upper}}</h2>
    {% endfor %}
{% endblock %}
